* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #1E2A4F;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24807F;
    font-size: 14px;
}
h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}



.label-float input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #0d009c;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;

}

.label-float{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.label-float input:focus{
    border-bottom: 2px solid #4038a0;
}

.label-float label{
    color: #0d009c;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color: #4038a0
}



input {
    padding: 5px;
    border-radius: 20px;
}
.section-principal {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-bottom: 0%;
}
.section-principal form {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-top: 20px;
}
.form-cadastrar.active{
    bottom: 79%;
}
.form-cadastrar {
    position: relative;
    background-color: #1CC0A9;
    border-radius: 15px;
    padding: 20px 30px 60px;
    width: 350px;
    right: 5%;
}
.buttonCadastrar {
    background-color: #065B4F;
}
.buttonCadastrar:hover {
    background-color: #CED4DA;
    color: #065B4F;
}
.buttonCadastrar, .button{
    margin-top: 5%;
    padding: 3% 40%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #CED4DA;
    cursor: pointer;
}
.form-login.active{
    bottom: 1%;  
}
.form-login {
    position: absolute;
    left: 41.8%;
    bottom: 79%;
    transform: translateY(90%);
    width: 350px;
    padding: 20px 40px;
    margin-left: 9.3%;
    height: 88%;
    padding-top: 10px;
    background-color: #16a1b9;
    border-radius: 80px 80px 15px 15px;
}
.form-login form {
   padding-top: 25%;
}
.button{
    background-color: #1E2A4F;    
    padding-right: 43%;
    padding-left: 43%;
    margin: 0;
}
.button:hover {
    background-color: #CED4DA;
    color: #1E2A4F;
}
.checkbox-senha {
    display: flex;
    justify-content: space-between;
}
#imagem-login {
    width: 400px;
    height: 400px;
}

@media (max-width: 690px) {
    #imagem-login {
        display: none;
    }
    .form-cadastrar {
        right: 0;
    }
    .form-login {
        left: 0;
        margin-left: 0;
    }
}